.changelog {
    color: white;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
}

.changelog fieldset {
    border-radius: 25px;
    border: 0.5px solid rgba(255, 255, 255, 0.45);
}

.changelog fieldset legend {
    font-size: 25px;
}

.changelog-text {
    padding: 25px;
    line-height: 45px;
    text-align: center;
    height: 90%;
    width: 100%;
}

h4 {
    background-color: rgba(50,50,50, 0.45);
    width: auto !important;
    border-radius: 25px;
}