.changelog {
    margin: auto;
    position: absolute;
    padding: 2 auto;
    left: 2%;
    top: 20%;
    background: rgba(200, 200, 200, 0.6);
    width: 15%;
    height: 60%;
    color: white;
    background-color: rgba(100, 100, 100, 0.3);
    font-size: 21px;
}

.changelog-text
{
    background-color: rgba(100, 100, 100, 0.3);
}

.changelog-text h4 {
    background-color: rgba(100, 100,100, 0.3)
}