* {padding: 0; margin: 0; outline: none;}

.footer {
  padding: 0;
  margin: 0;
  background: rgba(125, 125, 125, 0.5);
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: auto;
  display: table-cell;
  z-index: 10;
}

.footer nav p {
  position: absolute;
  left: 40%;
  top: 5.5%;
  text-align: start;
  color: white;
  font-size: 25px;
}

.footer nav a{
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  height: auto;
  overflow: none;
  list-style-type: none;
}
