.pc-image {
	min-height: 25%;
	min-width: 25%;
}

.pc-image ul {
	position: absolute;
	top: 50%;
	left: 50%;
	flex-wrap: wrap;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	min-height: 25%;
	min-width: 25%;
}

/* Create four equal columns that sits next to each other */
.pc-image ul img {
	min-height: 25%;
	min-width: 25%;
	justify-content: center;
	flex: 100%;
	max-width: 25%;
	max-height: 50%;
	padding: 0 5px;
	margin-top: 10px;
	align-items: center;
	height: 45%;
	width: 45%;
	transition: 0.25s all cubic-bezier(0.25, 0.25, 0.25, 1);
}

.view {
	z-index: 50;
	background-color: white;
	height: 85%;
	width: 85%;
	transform: scale(0, 0);
	transition: 0.5s all cubic-bezier(.25, .25, .25, .25);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.view-right {
	position: absolute;
	right: 0%;
	background-color: rgba(200, 200, 200, 0.75);
	height: 100%;
	width: 13.4%;
	top: 0%;
}

.download {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	font-size: auto;
	width: 70%;
	height: 15%;
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 2px 2px 10px rgba(102, 94, 94, 0.418);
}

#view-img {
	z-index: 55;
	position: absolute;
	width: 87.6%;
	height: 100%;
	align-items: center;
}

#close-view {
	border: none;
	display: inline;
	position: absolute;
	font-family: 'Be Vietnam Pro', sans-serif;
	right: 0%;
	top: 0%;
	font-size: 25px;
	height: 10%;
	width: 25%;
}

@media (max-width: 800px) {
	.pc-image {
		flex-direction: column;
	}
}