body {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.pop-card {
    z-index: 20;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 25%;
    border-radius: 5px;
    box-shadow: 5px 5px 6px 0.5px rgba(34, 221, 221, 0.30);
    transition: 0.25s;
}

.pop-card form button{
    position: absolute;
    right: 0%;
    background: none;
    border-radius: 5px;
    bottom: 0%;
    font-size: 20px;
    display: flex;
}

.top-card {
    margin: 0%;
    padding: 0%; 
    background: rgba(125, 125, 125, 0.5);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    display: flex;
}

.top-card ul p {
    position: absolute;
    top: 0%;
    color: white;
    font-size: 20px;
}

.card {
    background: rgba(100, 100, 100,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    display: flex;
}

.card h1
{
    color: white;
}

.card h3 {
    position: absolute;
    left: 0%;
    top: 10%;
    color: white;
    transition: 0.35s;
}

.card h3:hover {
    background: rgba(40, 40, 40, 0.35);
}

.footer nav {
    background: rgba(125, 125, 125, 0.7);
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
}

.footer p {
    font-size: 15px;
    color: white;
    position: absolute;
    right: 50%;
}

.announcement{
    background: rgba(187, 255, 0, 0.582);
    position: absolute;
    top: 5%;
    height: 3%;
    width: 100%;
}

.announcement label {
    color: white;
    font-size: 20px;
    clear: both;
    position: absolute;
    left: 50%;
}