body {
  background-repeat: no-repeat;
  background-size: cover;
}

.pop-card {
  z-index: 20;
  background: rgb(255, 255, 255);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 25%;
  border-radius: 5px;
  box-shadow: 5px 5px 6px 0.5px rgba(34, 221, 221, 0.3);
  transition: 0.25s;
}

.pop-card form button {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 8px;
  color: black;
  border: none;
  padding: 10px;
  font-size: 25px;
  display: flex;
  position: absolute;
  bottom: 3.5%;
  right: 5%;
}

.card {
  border-radius: 25px;
  height: 20%;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(50, 50, 50, 0) !important;
}

.card fieldset legend {
  font-size: calc(4vw + 2vw + 5vw);
  text-align: center;
  color: white;
}

.card fieldset {
  border-radius: 25px;
}

.card fieldset ul li {
  padding: 15px;
  background: rgba(50, 50, 50, 0.25);
}