body {
    background: url(../images/bg1.jpg);
    margin: 0;
    padding: 0;
}

.announcement {
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-card {
    background: rgba(125, 125, 125, 0.5);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
}

.top-card ul p {
    color: white;
}

.card {
    background: rgba(100, 100, 100,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    display: flex;
}

.card h1
{
    color: white;
}

.card h1 h3 {
    color: white;
    transition: 0.25s;
}

.card h1 h3:hover {
    background-color: rgba(120, 120, 120, 0.5);
}

.btn {
    background: none;
    border: none;
    position: absolute;
    left: 0%;
    top: 5%;
}
