* {
  padding: 0;
  margin: 0;
  outline: none;
  overflow: none;
}

.top-card {
  border-bottom: 1px solid #fff;
  background: rgba(125, 125, 125, 0.5);
  position: fixed;
  top: 0%;
  width: 100%;
  height: auto;
  display: table-cell;
  z-index: 5;
}

.date {
  color: white;
  z-index: 11;
  font-size: 25px;
  position: absolute;
  right: 1%;
  top: 0%;
  padding: 10px;
}

.top-card ul a {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 40%;
}

.top-card ul a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  height: auto;
  overflow: none;
}

.top-card ul a li {
  list-style-type: none;
}

.top-card ul a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}