* {
  padding: 0;
  margin: 0;
  outline: none;
  overflow: none;
}

.top-card {
  border-bottom: 2.5px solid #fff;
  background: rgba(125, 125, 125, 0.5);
  position: fixed;
  top: 0%;
  width: 100%;
  height: auto;
  display: table-cell;
  z-index: 5;
  list-style-type: none;
}

.top-card ul a {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 40%;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  height: auto;
  overflow: none;
  transition: 0.25s all ease-in-out;
  border-radius: 10px;
}


.top-card ul a:hover {
  color: rgb(0, 0, 255);
}
