RewriteEngine On

ErrorDocument 404 \error\404
ErrorDocument 408 \error\408
ErrorDocument 403 \error\403

RedirectMatch 403 /\..*$

<Files "\js\|\css\">
    Order Allow,Deny
    Deny from All
</Files>


Options +MultiViews
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]